.advantages {
  padding-top: 20px;
}

.advantages__header {
  position: relative;
  padding: 20px 0;
  background-color: $white;
  font-family: $font-light;
  font-size: 24px;
  color: $grey;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 320px;
    border-style: solid;
    border-width: 40px 320px 0 0;
    border-color: $white transparent transparent transparent;
  }
}

.advantages__promo {
  margin: 0 auto;
  width: 64%;
  text-align: center;

  &:first-child {
    margin-bottom: 25px;
  }
}

.advantages__list {
  @include list-reset;

  margin: 0;
  padding: 0;
  padding-top: 80px;
  background-color: $white-two;
}

.advantages__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__text {
  margin: 0 auto;
  width: 82%;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  text-align: center;
}

.advantages__phones-list {
  @include list-reset;

  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: $white-two;
}

.advantages__phones-item {
  display: none;

  &:last-child {
    display: block;
  }
}

@media (min-width: $tablet) {
  .advantages__header {
    font-size: 40px;

    &::after {
      bottom: -60px;
      width: 660px;
      border-width: 60px 660px 0 0;
    }
  }

  .advantages__promo {
    line-height: 50px;

    &:first-child {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .advantages__inner {
    display: flex;
    padding-left: 20px;
    background-color: $white-two;
  }

  .advantages__list {
    width: 300px;
    order: 1;
  }

  .advantages__item {
    margin-bottom: 40px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__text {
    width: 100%;
    text-align: left;
  }

  .advantages__phones-list {
    margin-right: 40px;
    order: 0;

    img {
      position: relative;
      margin-top: -20px;
      width: 268px;
      height: 547px;
    }
  }
}

@media (min-width: $desktop) {
  .advantages__header {
    &::after {
      bottom: -90px;
      width: 960px;
      border-width: 90px 960px 0 0;
    }
  }

  .advantages__promo {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__inner {
    display: flex;
    flex-direction: column;
  }

  .advantages__list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .advantages__item {
    margin-right: 45px;
    width: 245px;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__phones-list {
    margin: 0;
    margin-top: -15px;

    img {
      margin: 0;
      width: auto;
      height: auto;
    }
  }

  .advantages__phones-item {
    display: block;
  }
}
