.button {
  @include button-reset;

  padding: 15px 0;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  cursor: pointer;
}
