.contacts {
  position: relative;
  padding: 40px 0;
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 70%;
  font-family: $font-light;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.contacts__inner {
  margin: 0 auto 20px;
  width: 70%;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-bold;
  font-size: 18px;
  color: $grey;
}

.contacts__contact {
  font-style: normal;
  font-family: $font-light;
  font-size: 24px;
  color: $lipstick;
  text-decoration: none;
}

@media (min-width: $tablet) {

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__inner {
    margin-bottom: 40px;
    width: 40%;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $desktop) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__text {
    margin-bottom: 25px;
  }

  .contacts__inner {
    margin: 0;
    width: 25%;
  }

  .contacts__phone {
    order: -2;
  }

  .contacts__address {
    order: -1;
  }

  .contacts__mail {
    a {
      &:hover {
        color: $black;
        text-decoration: underline;
      }

      &:active {
        color: rgba($color: $black, $alpha: 0.3 );
      }
    }
  }
}
