.contacts {
  position: relative;
  padding: 40px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 40px 160px 0 160px;
    border-color: $white transparent transparent transparent;
    z-index: 100;
  }
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 70%;
  font-family: $font-light;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.contacts__inner {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-bold;
  font-size: 18px;
  color: $grey;
}

.contacts__contact {
  font-style: normal;
  font-family: $font-light;
  font-size: 24px;
  color: $lipstick;
  text-decoration: none;
}

@media (min-width: $tablet) {
  .contacts {
    &::after {
      bottom: -60px;
      margin: 0 auto;
      border-style: solid;
      border-width: 60px 330px 0 330px;
      border-color: $white transparent transparent transparent;
      z-index: 100;
    }
  }

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__inner {
    margin-bottom: 40px;
    width: 40%;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
