.fire-rates {
  padding-top: 90px;
  background-color: $white-two;
}

.fire-rates__wrapper {
  padding: 0 20px;
}

.fire-rates__list {
  position: relative;

  @include list-reset;
}

.fire-rates__item {
  position: relative;
  display: none;
  overflow: hidden;

  &--hit::before {
    content: "хит";
    position: absolute;
    top: 6px;
    left: -21px;
    width: 80px;
    height: 27px;
    color: $white;
    text-align: center;
    background-color: $lipstick;
    transform: rotate(-45deg);
  }

  &--active {
    display: block;
  }
}

.fire-rates__header {
  padding-top: 10px;
  padding-bottom: 15px;
  color: $white;
  text-align: center;
  background-color: $grey;
}

.fire-rates__title {
  margin: 0;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 30px;
}

.fire-rates__price {
  font-family: $font-light;
  font-size: 24px;
  line-height: 30px;
}

.fire-rates__table {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  text-transform: uppercase;
  border-collapse: collapse;
}

.fire-rates__perk {
  td {
    height: 59px;
    border: 2px solid $white-three;

    &:first-child {
      padding-left: 20px;
      width: 70%;
      border-right-color: transparent;
    }

    &:last-child {
      text-align: center;
    }
  }

  &--enabled {
    td:last-child {
      color: $leafy;
    }

    .fire-rates__icon {
      width: 31px;
      height: 21px;
    }
  }

  &--disabled {
    td:last-child {
      color: $orange;
    }

    .fire-rates__icon {
      margin-top: 5px;
      width: 27px;
      height: 26px;
    }
  }
}

.fire-rates__icon {
  fill: currentColor;
}

.fire-rates__controls {
  padding: 35px 0;
}

.fire-rates__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  min-height: 20px;
}

.fire-rates__dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: none;
    border: 3px solid $grey;
  }
}

@media (min-width: $tablet) {
  .fire-rates {
    padding-bottom: 70px;
  }

  .fire-rates__list {
    display: flex;
  }

  .fire-rates__item {
    display: block;
    flex-grow: 1;
  }

  .fire-rates__controls {
    display: none;
  }
}
