.form__field {
  position: relative;
  padding: 0;
  border: none;

  &--data,
  &--contacts {
    .form__wrapper:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &--achievements,
  &--app {
    background-color: $white-two;

    .form__wrapper:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.form__inner {
  padding: 40px 20px;
}

.form__legend {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $lipstick;
  text-align: center;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: $grey;

  &--data,
  &--contacts {
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
    color: $lipstick;
    text-transform: uppercase;
  }

  &--achievements,
  &--app {
    padding-left: 70px;
  }

  &--achievements::before {
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid $white-three;
    background-color: $white;
  }

  &--achievements::after {
    display: none;
    content: "";
    position: absolute;
    left: 9px;
    top: 8px;
    width: 19px;
    height: 10px;
    border-left: 2px solid $lipstick;
    border-bottom: 2px solid $lipstick;
    transform: rotate(-45deg);
  }

  &--app::before {
    content: "";
    position: absolute;
    left: 0;
    width: 37px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $white-three;
    background-color: $white;
  }

  &--app::after {
    display: none;
    content: "";
    position: absolute;
    left: 11px;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $lipstick;
  }
}

.form__input {
  &--data,
  &--contacts {
    padding: 0 20px;
    height: 59px;
    width: 100%;
    border: 2px solid $white-three;
  }

  &--comment {
    padding: 20px;
    width: 100%;
    height: 197px;
    overflow: scroll;
    resize: none;
    border: 2px solid $white-three;
  }

  &--data::-webkit-input-placeholder,
  &--contacts::-webkit-input-placeholder,
  &--comment::-webkit-input-placeholder {
    font-size: 18px;
    color: $grey;
  }

  &--data::-moz-placeholder,
  &--contacts::-moz-placeholder,
  &--comment::-moz-placeholder {
    font-size: 18px;
    color: $grey;
  }

  &--data:-ms-input-placeholder,
  &--contacts:-ms-input-placeholder,
  &--comment:-ms-input-placeholder {
    font-size: 18px;
    color: $grey;
  }
}

.form__input:checked + label::after {
  display: block;
}

.form__button {
  margin-bottom: 30px;
}

.form__caption {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: $grey;
  text-transform: uppercase;
  text-align: center;

  &-star {
    color: $lipstick;
  }
}

@media (min-width: $tablet) {
  .form {
    display: flex;
    flex-direction: column;

    & > .form__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form__button {
        margin-right: 40px;
        width: 250px;
      }

    }
  }

  .form__field {
    margin-bottom: 50px;
    background-color: $white;

    &--data {
      order: -3;
    }

    &--app {
      order: -2;
    }

    &--comment {
      .form__inner {
        padding: 20px 60px;
      }
    }

    &--achievements {

      .form__inner {
        padding: 20px 60px;
      }

    }

    &--contacts {
      order: -1;

      .form__inner {
        padding: 20px 60px;
      }

      .form__wrapper {
        position: relative;
        flex-direction: column;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          width: 60px;
          height: 60px;
          background-color: $white-three;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &--phone::after {
          background-image: url("../../img/icon-phone.svg");
        }

        &--email::after {
          background-image: url("../../img/icon-mail.svg");
        }
      }

      .form__label {
        align-self: flex-start;
      }
    }

    &:not(.form__field--data) {
      padding: 0 20px;

      .form__inner {
        border: 2px solid $white-three;
      }
    }
  }

  .form__inner {
    padding: 20px;
  }

  .form__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .form__input {
    &--contacts {
      margin-bottom: 10px;
      order: -1;
    }
  }

  .form__label {
    &--data {
      padding: 0;
      margin-right: 20px;
    }
  }

  .form__legend {
    display: block;
    margin: -30px 0 40px;
    background-color: $white;
  }


}
