.inner-page__wrapper {
  padding-top: 95px;
  margin-top: -67px;
  min-height: 240px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.inner-page__title {
  margin: 0 auto;
  width: 73%;
  color: $white;
  font-family: $font-light;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.inner-page__text {
  margin: 0 auto;
  padding: 45px 0;
  width: 90%;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $grey;
}

@media (min-width: $tablet) {
  .inner-page__wrapper {
    margin-top: -115px;
    padding-top: 180px;
    min-height: 440px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: top center;
  }

  .inner-page__title {
    font-size: 50px;
    line-height: 60px;
  }

  .inner-page__text {
    padding: 70px 0;
    width: 52%;
    font-size: 18px;
    line-height: 30px;
  }

  .inner-page__line-break {
    display: none;
  }
}
