.likes {
  display: flex;
  align-items: center;
}

.liked__heart {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

.likes__count {
  display: block;
  font-size: 12px;
  color: $lipstick;
  cursor: pointer;
}
