.photos__list {
  @include list-reset;
}

.photos__item {
  margin-bottom: 20px;
  padding: 0 20px;
  line-height: 24px;
  color: $grey;

  &--panoram {
    position: relative;
    width: 100%;

    .photos__container {
      @include full-width-vw;
    }

    &::before {
      content: "Панорама дня";
      position: absolute;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 36px;
      font-family: $font-bold;
      font-size: 12px;
      line-height: 24px;
      color: $white;
      background-color: $lipstick;
      text-transform: uppercase;
    }
  }
}

.photos__comment {
  padding: 15px 20px;
  background-color: $white-two;
}

.photos__author {
  display: inline-block;
  font-style: normal;
  font-family: $font-bold;
  font-size: 14px;
}

.photos__timeout {
  font-family: $font-light;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__quote {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.photos__text {
  margin: 0;
  font-size: 14px;
}

.photos__image {
  margin: 0 auto;
}

@media (min-width: $tablet) {

  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    &--panoram {
      &::before {
        top: 5%;
        right: 10%;
      }
    }
  }

  .photos__item:not(.photos__item--panoram) {
    width: 50%;
  }

  .photos__comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
  }
}
