.promo {
  position: relative;
  margin-top: -67px;
  color: $white;
}

.promo__inner {
  position: relative;

  padding-top: 95px;
  margin-top: auto;
  min-height: 462px;
  width: 100%;
  background-color: $grey;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto, cover;

  @media (min-resolution: $retina) {
    background-image: url("../img/iphone-hand-mobile@2x.png"),
                      url("../img/bg-back-mobile@2x.jpg");
    background-size: 260px 280px, cover;
  }
}

.promo__slogan {
  margin: 0 auto;
  padding: 0;
  width: 71%;
  font-family: $font-light;
  font-size: 24px;
  text-align: center;
}

.promo__download {
  position: relative;
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $dark-grey;
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 280px;
  height: 55px;
  border: 3px solid $white;
  border-radius: 40px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 19px;
  color: $white;
  background-color: transparent;
  cursor: pointer;
}

.promo__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 64%;
}

.promo__text {
  width: 75%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet) {
  .promo {
    margin-top: -115px;
    min-height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom right 18px, center;
    background-size: 640px, cover;

    @media (min-resolution: $retina) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
                        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo__inner {
    padding-top: 213px;
    background-color: transparent;
    background-image: none;
  }

  .promo__slogan {
    margin: 0;
    margin-left: 5%;
    width: 320px;
    font-size: 40px;
    line-height: 40px;
  }

  .promo__download {
    margin-top: -120px;
    margin-left: 5%;
    width: 320px;
    background-color: transparent;
  }

  .promo__button {
    margin-bottom: 45px;
    width: 290px;
    height: 60px;
    font-size: 21px;
    line-height: 18px;
  }

  .promo__list {
    margin-bottom: 40px;
  }

  .promo__text {
    width: 95%;
    font-family: $font-light;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .promo {
    background-image: url("../img/iphone-hand-desktop@1x.png"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-size: 950px, cover;

    @media (min-resolution: $retina) {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
                        url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo__slogan {
    margin-left: 15%;
  }

  .promo__download {
    margin-left: 15%;
  }

  .promo__button {
    transition: all 0.2s ease-in;

    &:hover {
      color: $lipstick;
      background-color: $white;
    }

    &:active {
      color: rgba($color: $lipstick, $alpha: 0.3);
    }
  }

}
