.publish__header {
  padding: 30px 0;
}

.publish__text {
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
  line-height: 30px;
  color: $grey;
  text-align: center;
}

.publish__wrapper {
  padding-top: 15px;
  background-color: $white-two;
}

.publish__photo-container {
  display: flex;
  justify-content: center;
}

.publish__settings {

  svg {
    fill: currentColor;
  }
}

.publish__buttons {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.publish__button {
  @include button-reset;

  padding: 10px 0;
  margin-bottom: 15px;
  border: 3px solid $lipstick;
  border-radius: 30px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: $lipstick;

  &:last-child {
    margin-bottom: 0;
  }

  &:disabled {
    color: $white-three;
    border-color: $white-three;
  }
}

@media (min-width: $tablet) {
  .publish__text {
    padding: 50px 0;
    font-size: 18px;
    line-height: 30px;
  }

  .publish__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .publish__settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .publish__buttons {
    padding: 30px 0;
  }
}
