.reviews {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.reviews__list {
  @include list-reset;
  position: relative;
}

.reviews__item {
  display: none;
  padding: 0;
  text-align: center;
  line-height: 30px;

  blockquote {
    margin: 0 auto;
    width: 87%;
    font-size: 14px;
  }

  &--active {
    display: block;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 15px;
  font-family: $font-bold;
  font-style: normal;
  font-size: 18px;
}

.reviews__occupation {
  display: none;
}

.reviews__text {
  margin: 0;
}

.reviews__wrapper {
  margin-bottom: 20px;
}

.reviews__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  min-height: 20px;
}

.reviews__dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: none;
    border: 3px solid $grey;
  }
}

@media (min-width: $tablet) {
  .reviews {
    &::after {
      bottom: -40px;
      width: 660px;
      border-style: solid;
      border-width: 40px 660px 0 0;
      border-color: $white transparent transparent transparent;
    }
  }

  .reviews__item {
    blockquote {
      display: flex;
      flex-direction: column;
      width: 92%;
    }
  }

  .reviews__author {
    margin-bottom: 0;
    order: 1;
  }

  .reviews__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    order: 0;
  }

  .reviews__occupation {
    display: block;
    font-family: $font-regular;
    font-size: 14px;
    color: $grey;
  }
}

@media (min-width: $desktop) {
  .reviews__text {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 700px;
  }

  .reviews__author {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__occupation {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__controls {
    display: none;
  }
}
