.reviews {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.reviews__wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 255px;
  width: 320px;
  overflow: hidden;
}

.reviews__list {
  @include list-reset;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
}

.reviews__item {
  flex-shrink: 0;
  padding: 0;
  max-width: 320px;
  text-align: center;
  line-height: 30px;

  blockquote {
    margin: 0 auto;
    width: 87%;
    font-size: 14px;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 15px;
  font-family: $font-bold;
  font-style: normal;
  font-size: 18px;
}

.reviews__occupation {
  display: none;
}

.reviews__text {
  margin: 0;
}

.reviews__wrapper {
  margin-bottom: 20px;
}

.reviews__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  min-height: 20px;
}

.reviews__dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: none;
    border: 3px solid $grey;
  }
}

@media (min-width: $tablet) {
  .reviews {
    &::after {
      bottom: -40px;
      width: 660px;
      border-style: solid;
      border-width: 40px 660px 0 0;
      border-color: $white transparent transparent transparent;
    }
  }

  .reviews__wrapper {
    width: 768px;
  }

  .reviews__item {
    max-width: 768px;
  }

  .reviews__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 92%;
  }

  .reviews__author {
    margin-bottom: 0;
    order: 1;
  }

  .reviews__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    order: 0;
  }

  .reviews__occupation {
    display: block;
    font-family: $font-regular;
    font-size: 14px;
    color: $grey;
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding-bottom: 50px;
  }

  .reviews__wrapper {
    width: 100%;
  }

  .reviews__list {
    position: relative;
    padding: 0 30px;
    min-height: 300px;
    justify-content: space-between;
  }

  .reviews__item {
    display: flex;
    flex-direction: row;
    max-width: 30%;
  }

  .reviews__inner {
    width: 100%;
  }

  .reviews__text {
    margin: 0;
  }

  .reviews__author {
    margin-top: auto;
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__occupation {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__controls {
    display: none;
  }
}
