.reviews {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 320px;
    border-style: solid;
    border-width: 40px 320px 0 0;
    border-color: $white transparent transparent transparent;
  }
}

.reviews__list {
  position: relative;
  @include list-reset;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 320px;
    border-style: solid;
    border-width: 40px 320px 0 0;
    border-color: $white transparent transparent transparent;
  }
}

.reviews__item {
  display: none;
  padding: 0;
  text-align: center;
  line-height: 30px;

  blockquote {
    margin: 0 auto;
    width: 87%;
    font-size: 14px;
  }

  &--active {
    display: block;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 15px;
  font-family: $font-bold;
  font-style: normal;
  font-size: 18px;
}

.reviews__text {
  margin: 0;
}

.reviews__wrapper {
  margin-bottom: 20px;
}

.reviews__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  min-height: 20px;
}

.reviews__dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: none;
    border: 3px solid $grey;
  }
}
