@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin full-width-vw {
  margin-left: calc(-100vw / 2 + 280px / 2);
  margin-right: calc(-100vw / 2 + 280px / 2);
}

@mixin button-reset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0;
}

@mixin ie-active-fix {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
