//fonts
$font-regular: "Open Sans", "Verdana", sans-serif;
$font-light: "Open Sans Light", "Verdana", sans-serif;
$font-bold: "Open Sans Bold", "Verdana", sans-serif;
//colors
$white: #ffffff;
$white-two: #f2f2f2;
$white-three: #e5e5e5;
$grey: #283645;
$timer-color: #dedede;
$dark-grey: #1d2631;
$black: #000000;
$lipstick: #d22856;
$orange: #f25b26;
$leafy: #3dc644;
$green: #2aab6d;
$button-hover: #1c9b5e;
//widths
$mobile: 320px;
$tablet: 660px;
$desktop: 960px;
